

.password_generator
    position: absolute
    width: 540px
    display: flex
    flex-direction: column
    height: fit-content
    top: 50%
    right: 50%
    transform: translateY(-50%) translateX(50%)