@import "./styles/_globals.sass"
  
*
  box-sizing: border-box
  margin: 0
  padding: 0

html
  font-size: 62.5%

body
  background-color: $black2
  font-family: $font1

@font-face 
  font-family: JetBrainsMonoBold
  src: url(./assets/fonts/static/JetBrainsMono-Bold.ttf)
  font-style: normal
  font-weight: bold


@font-face 
  font-family: JetBrainsMonoBoldItalic
  src: url(./assets/fonts/static/JetBrainsMono-BoldItalic.ttf)
  font-style: italic
  font-weight: bold


