
@import "./../../styles/_globals"

.password
    margin-bottom: 21px
    @include container("password")

    &--input_field
        @include text("password","large")
        background-color: transparent
        border: none
    &--input_field[readonly]
        border: none
        outline: none

    &--input_field:focus
        border: none

    &--input_field:disabled
        opacity: 1
        cursor: auto 
        pointer-events: auto

    &--copied
        @include text("copied", "medium")

    &--btn
        border: none
        background-color: transparent
    