
@import "./../../styles/_globals"

.password_container
    @include container("password")

    &--input_field
        background-color: transparent
        border: none

    &--input_field:focus
        border: none

    &--input_field:disabled
        opacity: 1
        cursor: auto 
        pointer-events: auto